body {
    font-size: 15pt;
    background-color: #000000;
    text-align: center;
}
h1{
 color:#FFFFFF;
 
}
a{
  color:#FFFFFF;
}
a:link {
  text-decoration: none;
  }
a:hover {
  text-decoration: underline;
}
